* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 16px;
}

body {
    overflow: hidden;
    background: #0f3652 url(../images/bg.jpg) center no-repeat fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #fff;
}

.logo,
.message,
.copyright {
    position: absolute;
    opacity: .85;
}

.logo {
    top: 11%;
    left: 10%;
}
.logo > img {
    width: 300px;
}

.message {
    bottom: 15%;
    right: 10%;
    font: 400 italic 3rem 'Architects Daughter', cursive;
}

.copyright {
    bottom: 10px;
    left: 50%;
    padding: 3px 5px;
    background: rgba(0,0,0, .5);
    font-size: .9rem;
    transform: translateX(-50%);
}

@media only screen and (max-width: 767px) {
    .logo,
    .message {
        left: 40px;
        right: 40px;
        text-align: center;
    }
}

@media only screen and (max-width: 414px) {
    .logo > img {
        width: 200px;
    }
    .message {
        font-size: 2.5rem;
    }
}